<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/categories.css">
</head>
<body>
    <header>
        <h1>GuiaPress</h1>
    </header>

    <div id="container">
        <h2>Categorias</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach((categoriesDados) => { %>
                    <tr>
                        <td><%= categoriesDados.id %></td>
                        <td><%= categoriesDados.title %></td>
                        <td><%= categoriesDados.slug %></td>
                        <td></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>