<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/categories.css">
</head>
<body>
    <header>
        <h1><a href="/">GuiaPress</a></h1>
        <h3><a href="/admin/categories/new">Categories section</a></h3>
    </header>

    <div id="container">
        <h2>Categorias</h2>
        <button id="categorias">
            <a href="/admin/categories/new">Criar nova categoria</a>
        </button>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach((categoriesDados) => { %>
                    <tr>
                        <td class="tds-center"><%= categoriesDados.id %></td>
                        <td><%= categoriesDados.title %></td>
                        <td><%= categoriesDados.slug %></td>
                        <td class="tds-center">
                            <button id="editar">Editar</button>
                            <button id="deletar">Deletar</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
</html>