<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/articlesCss/articleRead.css">
</head>
<body>
    <header>
        <h1 id="guiapress"><a href="/">GuiaPress</a></h1>
        <div>
            <h3 class="h3-header"><a href="/admin/categories">Categories table</a></h3>
            <h3 class="h3-header"><a href="/admin/categories/new">Categories insert</a></h3>
            <h3 class="h3-header"><a href="/admin/article/new">Articles insert</a></h3>
        </div>
    </header>

    <div id="container">
    
        <div id="boas-vindas">
            <h1 id="h1-boas-vindas">Bem-vindo/a á descrição do artigo:</h1>
            <h2>Artigo: <%= articleSlug.title %></h2>

            <hr>
            
            <h3>Descrição do artigo aqui:</h3>
            <h2><%- articleSlug.body %></h2> <!--EXIBINDO A VAR COMO '<%- %>' PORQUE O SINAL DE MENOS FAZ 
            COM QUE O EJS EXIBA O CONTEÚDO DELA FORMATADO-->

            <button>
                <a href="#">Leia mais</a>
            </button>
        </div>
    </div>
</body>
</html>