<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de users</title>
    <link rel="stylesheet" href="/usersCss/users.css">
</head>
<body>
    <h1>Bem vindo a página de listagem de users</h1>

    <% dadosUsers.forEach((dados) =>{ %>
        <p>Id:<%= dados.id %></p>
        <p>Email:<%= dados.email %></p>
        <p>Senha Hash:<%= dados.senha %></p>
    <% }) %>
</body>
</html>