<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/categoriesCss/edit.css">
</head>
<body>
    <div id="container">
        <header>
            <h1><a href="/">GuiaPress</a></h1>
            <h3><a href="/admin/categories">Categories table</a></h3>
        </header>

        <div id="filho">
            <form method="post" action="/categories/update">
                <div id="header-form">
                    <h2>Edição de categoria</h2>
                </div>
                <h3><%= categoria.title %>:</h3>
                <input type="text" name="title" placeholder="Definina a edição da categoria acima"> <br>
                <input type="hidden" name="id" value="<%= categoria.id %>">
                <input type="hidden" name="slug" value="<%= categoria.slug %>">
                <button>Atualizar</button>
            </form>
        </div>
    </div>
</body>
</html>