<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/categoriesCss/style.css">
</head>
<body>
    <header>
        <h1 id="guiapress"><a href="/">GuiaPress</a></h1>
        <div id="div-header">
            <h3 class="h3-header"><a href="/admin/categories/new">Adicionar Categorias</a></h3>
            <h3 class="h3-header"><a href="/admin/article/new">Adicionar Artigos</a></h3> 
            <h3 class="h3-header"><a href="/login">Login de Administrador</a></h3>
            <h3 class="h3-header"><a href="/admin/users/create">Criar conta</a></h3>
        </div>
    </header>

    <div id="container">
    
        <div id="boas-vindas">
            <h1 id="h1-boas-vindas">Bem-vindo/a</h1>
            <h2>Este é um simples blog</h2>
            <h2>By &lt;Vinícius Rodrigues&gt;</h2>
            <hr>
        </div>

        <hr>


        <% dadosArticle.forEach((dados) =>{ %>
            <div class="articles">
                <p class="article-title">
                    <%= dados.title %>
                </p>

                <hr>

                <button id="btt-article">
                    <a href="/<%= dados.slug %>">Ler Artigo</a>
                </button>
            </div>
        <% }) %>
    </div>
</body>
</html>