<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/categoriesCss/style.css">
</head>
<body>
    <header>
        <h1 id="guiapress"><a href="/">GuiaPress</a></h1>
        <div>
            <h3 class="h3-header"><a href="/admin/categories">Categories table</a></h3>
            <h3 class="h3-header"><a href="/admin/categories/new">Categories insert</a></h3>
            <h3 class="h3-header"><a href="/admin/article/new">Articles insert</a></h3>
        </div>
    </header>

    <div id="container">
    
        <div id="boas-vindas">
            <h1 id="h1-boas-vindas">Bem-vindo</h1>
            <h2>Este é um simples blog</h2>
            <hr>
            <h3>Descrição detalhada aqui:</h3>
            <button>Leia mais</button>
        </div>

        <hr>

        <div class="artigos">

        </div>
        <!--
        <% dadosArticle.forEach((dados) =>{ %>
            <h2><%= dados.title %></h2>
        <% }) %>
        -->
    </div>
</body>
</html>