<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div id="container">
        <header>
            <h1><a href="/">GuiaPress</a></h1>
            <h3><a href="/admin/categories">Categories table</a></h3>
        </header>

        <div id="filho">
            <form method="post" action="/categories/save">
                <div id="header-form">
                    <h2>Cadastro de categoria</h2>
                </div>
                <input type="text" name="title" placeholder="Definina o titulo da categoria"> <br>
                <button>Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>