@charset "UTF-8";

*{
    font-family: sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    background-color: yellowgreen;
    height: 15vh;
    width: 100%;
    border-bottom: 3px solid black;
}

h1#guiapress{
    font-size: 36px;
    margin-left: 10px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

h3.h3-header{
    margin: 5px;
    color: black;
}

div#boas-vindas{
    width: 70vw;
    border: 3px solid black;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px;
}

#h1-boas-vindas{
    margin: 0px;
    font-size: 60px;
    font-family: sans-serif;
    letter-spacing: 8px;
}

h2{
    margin-bottom: 30px;
}

h3{
    margin-top: 30px;
}

button{
    padding: 13px;
    background-color: yellowgreen;
    font-size: 17px;
    font-weight: bolder;
    color: black;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: greenyellow;
}

div.articles{
    width: 80vw;
    padding: 25px;
    margin-top: 30px;
    border: 3px solid black;
}

p.article-title{
    margin: 0px;
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

button#btt-article{
    margin-top: 20px;
    padding: 13px;
    background-color: yellowgreen;
    font-size: 17px;
    font-weight: bolder;
    color: black;
    border: none;
    cursor: pointer;
}
#btt-article:hover{
    background-color: greenyellow;
}

a{
    text-decoration: none;
}
